.home-container {
    height: 100vh;
    background-color: #5D4E6D;
}
.home-text {
    font-size: 200px;
    color: white;
    position: absolute;
    left: 100px;
    top: 100px
}
.welcome-text {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 190px;
    top: 320px;
}

.info-container {
    background-color: #b59bd1bd;
    position: absolute;
    top: 400px;
    width: 40%;
    height: 35%;
    left: 115px;
}