.navbar-container {
    top: 0;
    left: 0;
    z-index: 100;
    width: 95%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    border: transparent;
    border-radius: 110px;
    margin-top: 15px;
    
}
.header {
    display: flex;
    justify-content: center;
}
.navbar {
    padding-right: 100px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px   

}

.nav-link {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-size: 20px;
}
.nav-link:hover {
    color: gray;
}
.nav-link:last-child {
    margin-right: 0px;
}
@keyframes appear {
  0% {
    transform: scale(0.1) translate(-50%, -50%) translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translate(-50%, -50%) translateY(100px) translateX(-50px);
  }
  100% {
    transform: scale(0.1) translate(-50%, -50%) translateY(0) translateX(0);
    opacity: 0;
  }
}
.achievement-popup {
    position: absolute;
    top: 0%;
    left: 83%;
    transform: translate(-50%, -50%); 
    padding: 10px;
    background: transparent;    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    animation: appear 3s ease-in-out forwards;
  }
  
  .achievement-popup img {
    width: 100px; 
    height: auto;
    background: transparent;
  }
  

  
  .show-achievement {
    animation: appear 2s ease-in-out forwards;
  }
  @keyframes tabAppear {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0;
      }
      25% {
        transform: translateY(50px) translateX(0);
        opacity: 1;
      }
      50% {
        transform: translateY(100px);
        opacity: 1;
      }
      75% {
        transform: translateY(50px) translateX(0);
        opacity: 1;
      }
      100% {
        transform: translateY(0) translateX(0);
        opacity: 0;
      }
  }
  .achievement-tab {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgb(54, 74, 139);
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    animation: tabAppear 3s ease-in-out forwards;
  }
  
  
  .show-achievement-tab {
    animation: tabAppear 2s ease-in-out forwards;
  }
  
