.expenses-dropdown {
    height: 45px;
    font-size: 25px;
    
}

/* someone fix the color palette im bad at designing */

.expenses-input-container {
    width: 50%;
    border: 2px dashed rgb(58, 0, 58);
    margin: 100px 50px;  
    border-radius: 10px;
    padding: 20px;
    background-color: #E7E5DF;
    height: 300px;
}

.expenses-input-form {
    width: 100%;
    display: flex;
    flex-direction: column
}

.title-label {
    font-size: 25px;
    margin-bottom: 10px;

}
.input-label {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    
}
.expenses-input {
    height: 40px;
    font-size: 25px;
    padding-left: 10px;
    background-color: #D3D0CB;
    border: solid;
    border-width: 1px
;
}
.expenses-input-button {
    margin-top: 30px;    
    height: 45px;
    width: 25%;
    background-color: #393E41;
    border-radius: 10px;
    border-width: 1px;
    transition: 0.3s;
    color: #D3D0CB

}
.expenses-input-button:hover {
    background-color: #5f6264;
    color: white;
    box-shadow: 5px 10px #393E41;
    transform: translateY(-10px);
}
.expenses-dropdown {
    background-color: #D3D0CB;

}
.expenses-input {
    border: solid;
    border-width: 1px
}