.budget-card-overview-container {
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    background-color: #E7E5DF;
    position: relative;
}
.budget-overview-container {
    height: 100vh;
    width: 100%;
}
.budget-overview-container {
    display: flex;
    flex-direction: row;
    
}

.history-overview-container {
    padding-left: 100px;
}