.budget-card {
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    justify-content: space-around;
    background-color: #E7E5DF;
    position: relative;
}
.x-button {
    position: absolute;
    left: 94%;
    bottom: 90%;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    background-color: #E7E5DF;
}
.x-button:hover {
    background-color: #dbdad8;
}
.x-button:active {
    background-color: #c5b698;
}