.navbar-container {
    top: 0;
    left: 0;
    z-index: 100;
    width: 95%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    border: transparent;
    border-radius: 110px;
    margin-top: 15px;
}
.header {
    display: flex;
    justify-content: center;
}
.navbar {
    padding-right: 100px;
    width: 30%;
    

}
.nav-link {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-size: 20px;
}
.nav-link:hover {
    color: gray;
}
.nav-link:last-child {
    margin-right: 0px;
}